---
layout: default
lang: da
other_lang_url: /
---
{%- assign t = site.data.i18n.da -%}
<section class="intro">
  <h1>{{ t.tagline }}</h1>
  <p>{{ t.intro }}</p>
</section>

<ol class="issue-list">
  {% assign issues = site.da | sort: "date" | reverse %}
  {% for post in issues %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: t.date_format }}</time>
      <span class="issue-title">{{ post.title }}</span>
      {% if post.summary %}<span class="issue-summary">{{ post.summary }}</span>{% endif %}
    </a>
  </li>
  {% else %}
  <li class="empty">{{ t.empty }}</li>
  {% endfor %}
</ol>
